@using DevCertMvc.Web.Data;

@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product List - Conn Updated - Staging - version 02</h1>
  
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
       
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var prod in Model)
            {
                <tr>

                    <td>@prod.ProductId</td>
                    <td>@prod.ProductName</td>
                    <td>@prod.Quantity</td>

                </tr>

            }

        }
    </tbody>
</table>

